.cover__subtitle {
  margin: 0;
  padding-top: 32px;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 100;
}

@media screen and (max-width: 520px){
  .cover__subtitle {
    padding-top: 16px;
    max-width: 85%;
    font-size: 14px;
    line-height: 16px;
  }
}