.footer__copyright {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 595px){
  .footer__copyright {
    line-height: 14px;
    padding-top: 48px;
  }
}